@model Gestão_de_gasto.Models.Despesas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Despesas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.servico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.formaDePagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formaDePagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.viagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.viagem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
